.call_to_action_container{
    background: linear-gradient(236.42deg, #8105E1 30.05%, rgba(0, 124, 124, 0) 127.3%);
width: 98.6vw;
margin-top: 5rem;
    height: 50vh;
}
.call_to_action_text,.call_action_header {
           color: white;
            position: absolute;
            top: 7rem;
            width: 40rem;
            margin-left: 12rem;
            margin-right: 16rem;
            font-family: "Roboto";
            font-size: 1.4rem;
            /* text-align: justify; */
            /* border: 2px solid red; */
}
.call_action_header{
    top: 4rem;
    margin-bottom: 1rem;
}
.call_to_action_main{
    height: 60vh;
}

.call_to_action_button {
    position: absolute;
    width: 222px;
    height: 50px;
    left: 55rem;
    top: 120px;

    background: linear-gradient(92.42deg, #9607DA 47.97%, #4F00F5 107.48%);
    border-radius: 30px;
    outline: none;
    border: none;
    background: linear-gradient(92.42deg, #b336ed 47.97%, #8855f7 107.48%);
        color: white;

    @media (max-width:768px) {
        position: absolute;
        width: 152px;
        height: 40px;
        left: 23%;
        top: 170px;

        background: linear-gradient(92.42deg, #9607DA 47.97%, #4F00F5 107.48%);
        border-radius: 30px;
        outline: none;
        border: none;
    }
}

.call_to_action_button:hover {
    /* background: transparent; */

    background: linear-gradient(92.42deg, #9607DA 47.97%, #4F00F5 107.48%);    color: white;
    cursor: pointer;
    /* border-image-radius: ; */
    border-radius: 30px;

}