.main_flow {
  margin-top: 90px;
  /* height: 330vh; */
  background-color: var(--main-colour);
  display: flex;
}
.main_flow_content {
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h {
    width: 90%;
    margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.temp_left{
  /* border: 1px solid red; */
  display: flex;align-items: center;
  justify-content: center;
}
.temp_number{
  width: 120px;
  height: 100px;
  border-radius: 50%;
  background: rgba(87, 6, 151, 0.48);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.3rem;
  font-family: "rajdhani";
  font-weight: 500;
}
.flowBox_left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.flow_box {
  width: 20rem;
}
.flow_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.temp_right{
  /* border: 1px solid white; */
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.flow_content_right {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border:  1px solid yellow; */
  /* width: 70%; */
  height: 14rem;
  margin-bottom: 10%;
  
}
.temp_image{
    width: 50%;
}
.temp_image_text{
    margin-top: 20px;
    font-size: 1.6rem;
    font-family: "Encode sans";
    background: linear-gradient(92.64deg, #8105E1 24.98%, #DF04F2 94.53%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
font-weight: 600;
}
/* .flow_content img {
  width: 20%;
  height: 50%;
} */
.flow_header {
  color: aliceblue;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* padding-bottom: 10%; */
  margin-top: -10rem;
  font-family: "Roboto";
  font-style: normal;
  font-size: 2.5rem;
  border-bottom: 3px solid #8105e1;
  border-radius: 10px;
  width: fit-content;
}
.flow_content_head {
  font-family: "Roboto";
  font-style: normal;
  /* font-weight: 400; */
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 4%;
}
.flow_content_body {
  
  /* border: 1px solid green; */
  font-family: "nunito";
  font-style: normal;
  font-weight: 450;
  font-size: 1.7rem;
  text-align: justify;
  color: white;
  padding: 5%;
}
.temp-line{
    content: none;
    border: 1px solid #8105e1;
    width: 100%;
    border-radius: 30px;
}
@media screen and (max-width: 1150px){
  .flow_content_body{
    font-size: 1.4rem;
  }
  .main_flow_content{
    /* padding-top: 5%; */
  }
}
@media screen and (max-width: 1000px){
.h{
  flex-direction: column;
  /* border: 1px solid red; */
  /* height: 400px; */
}
.main_flow_content{
/* border:  1px solid yellowgreen; */
}
}
@media screen and (max-width: 600px){
  .temp_image{
    width: 40%;
  }
  .main_flow_content{
    /* width: 100%; */
    padding: 0;
    padding-top: 20%;
    padding-bottom: 20%;
  }
  .temp_left{
    flex-direction: column;
  }
  .temp_number{
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .flow_content_body{
    font-size: 1.2rem;
    width: 100%;
  }
  .temp-line{
    width: 80%;
    margin-top: 20px;
  }
  .temp_right{
    /* border: 1px solid red; */
    width: 100%;
  }
}
