.my-carousel .thumbs-wrapper {
    display: none;
}
.Carousel_container{
    /* position: absolute; */
        /* margin-top: "20rem"; */
        /* height: 100rem; */
        /* background-color: yellow; */
}
.hero-image {
    width:35rem;
    height: 35rem;
    /* margin-bottom: 5rem; */
    /* margin-top: 5rem; */
}
.carousel-image {
    margin-top: 10%;
    height: 27rem;
    margin-right: 1rem;
    /* Adjust the width as needed */
    /* height: auto; */
    /* Automatically adjust the height based on the aspect ratio */
}