.hero_mainContainer {
  background-color: #050d14;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_subContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}
.hero_subContainer1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}
.hero_textContainer {
  width: 80%;
  /* margin-top: 30px; */
}
.hero_headText {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 56px;
  color: white;
}
.hero_gradient {
  background: linear-gradient(92.64deg, #8105e1 24.98%, #df04f2 94.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0;
}
.hero_button {
    margin-top: 10px;
    font-family: "Nunito";
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  /* padding: 3px; */
  color: white;
  background: linear-gradient(92.42deg, #9607da 47.97%, #4f00f5 107.48%);
  border-radius: 30px;
  
  cursor: pointer;

}
.hero_button:hover {
    background: linear-gradient(269.59deg, #9607DA 31.98%, #4F00F5 123.29%);
    transition: 0.5s ease-in-out;
}
.hero_subContainer2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero_image {
  width: 70%;
}

.hero_circle,
.smallAbout_circle {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 58px;
  top: 160px;
  background: radial-gradient(
    197.26% 197.26% at 64.79% -97.26%,
    rgba(184, 35, 237, 0.162) 0%,
    rgba(251, 22, 228, 0) 0.01%,
    rgba(145, 17, 229, 0.0968444) 65.1%,
    rgba(44, 13, 231, 0.162011) 83.33%
  );
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: moveUpDown 5s ease-in-out infinite;
}
.smallAbout_circle {
  top: 80px;
  left: 50rem;
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
    background: radial-gradient(
      197.26% 197.26% at 64.79% -97.26%,
      rgba(184, 35, 237, 0.162) 0%,
      rgba(251, 22, 228, 0) 0.01%,
      rgba(145, 17, 229, 0.0968444) 65.1%,
      rgba(44, 13, 231, 0.162011) 83.33%
    );
    /* Starting position of the gradient */
  }

  50% {
    transform: translateY(-70px);
    background: radial-gradient(
      197.26% 197.26% at 64.79% -97.26%,
      rgba(172, 9, 232, 0.162) 0%,
      rgba(251, 22, 228, 0) 0.01%,
      rgba(243, 5, 247, 0.097) 65.1%,
      rgba(44, 13, 231, 0.162011) 83.33%
    );
  }
}

@media screen and (max-width: 1330px){
    .hero_textContainer {
        width: 100%;
    }
}
  
@media screen and (max-width: 1200px){
   .hero_subContainer1{
    margin-top: 30px;
   }
   .hero_headText{
    font-size: 2rem;
   }
   .hero_button{
    font-size: 1.2rem;
    width: 170px;
  height: 40px;
   }
}
@media screen and (max-width: 1065px){
    .hero_headText{
        font-size: 1.7rem;
       }
       .hero_button{
        font-size: 1rem;
        width: 160px;
      height: 36px;
       }
}
@media screen and (max-width: 1000px){
    .hero_subContainer{
        flex-direction: column;
    }
    .hero_textContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 80%;
        text-align: center;
    }
}
@media screen and (max-width: 500px){
    .hero_textContainer{
        width: 95%;
    }
    .hero_headText{
        font-size: 1.4rem;
       }
       .hero_button{
        font-size: 0.7rem;
        width: 130px;
      height: 28px;
       }
}